<h1>settings for the plugin will be here.....</h1>

<p>
  <label>Message broker URL</label>
  <%= text_field_tag 'settings[broker_url]', @settings['broker_url'], :size => 50 %>(enter full URL including port if necessary)
</p>
